<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="bodyFragments" th:fragment="crearSedes" >
			<div th:with="msjCabezeraModal='Guardando Sede',msjCuerpoModal='Espere un Momento'">
				<div id="modalCargando" th:replace="fragments/modals/modalCargando :: modalCargando"></div>
			</div>
			<div id="modalRegistroOk" th:replace="fragments/modals/registroOk :: modalRegistroOk"></div>
			<div id="modalRegistroKo" th:replace="fragments/modals/registroKo :: modalRegistroKo"></div>
			<form th:action="@{/sedes/addSede}" method="post" id="formCrearSede" onsubmit="setRolesyPermisos();" th:object="${newSede}" class="container cuadroBNS col-5 formCreate">
				<div class="row">
					<p id="addSedeP" class="col tituloForm">Añadir Sede</p>
				</div>
				<div class="row">
					<p class="col-2">Nombre</p> <input id="inNombreSede" type="text" class="col-8" th:field="*{nombre}" required/>
				</div>
				<div class="row">
			    	<p class="col-2">Direccion</p> <input id="inDirSede" type="text" class="col-8" th:field="*{direccion}" required />
				</div>
				<div class="row">
			    	<p class="col-2">Region</p>
					<select th:field="*{region}" class="col-8">
					    <option th:each="region : ${regiones}" th:value="${region}" th:text="${region}"></option>
					</select>
				</div>
				<div class="row">
			    	<p class="col-2">Aforo</p> <input id="inAfoSede" type="number" class="col-8" th:field="*{aforo}" required />
				</div>
				<div class="col">
			    		<input type="button" onclick="crear('Sede')" class="col centroForm btn btn-dark btnSendForm" id="btnSend" value="Ingresar"/>
				</div>
			</form>
		</div>
	</body>
</html>