#imgHome {
    opacity: 0.5;
}
#imgHome:hover {
    opacity: 1.0;  
}

#imgBtnHome{
    margin-left: 40%;
    margin-top: 8%;
    max-width: 60%;
}
.btnHome{
    width: 40%;
    font-size: 1.07vw;
}
.filaHome{
    margin-top: 3vw;
}

.imgIndex{
	width:100%
}