#cuadroLogin{
    margin-left: 50%;
    margin-top: 8%;
}
p{
	color:#FFFFFF;
    font-size: 1.6vw;
}
#loginText{
	color:var(--grisSmart);
	font-size: 5vw;
}
.centroForm {
    margin: 5% 0% 5% 25%;
}
#btnSend{
    width: 10vw;
    font-size: 2vw;
}
.espaciadoInputs{
    margin-top: 0.5vw;
}
.sizeInput{
    height: 2.5vw;
}