<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="bodyFragments" th:fragment="verUsuarios">
		<div th:with="msjCabezeraModal='Borrando Usuario',msjCuerpoModal='Espere un Momento'">
			<div id="modalCargando" th:replace="fragments/modals/modalCargando :: modalCargando"></div>
		</div>
		<div id="modalRegistroOk" th:replace="fragments/modals/registroOk :: modalRegistroOk"></div>
		<div id="modalRegistroKo" th:replace="fragments/modals/registroKo :: modalRegistroKo"></div>
		<div th:with="tipoEdit='Usuario'">
			<div id="modalEdicion" th:replace="fragments/modals/modalEdicion :: modalEdicion"></div>
			<div id="modalExtras" th:replace="fragments/modals/modalExtras :: modalExtras"></div>
		</div>
		<div th:if="${not #lists.isEmpty(allUsers)}">
			<p id="verUsersP" class="col tituloVer">Usuarios Registrados</p>
		    <table class="table table-dark tablaVer" id="tablaUsuarios">
		        <tr>
		            <th>Rut</th>
		            <th>Nombre</th>
		            <th>Apellido</th>
		            <th>Correo</th>
		            <th>Sede</th>
		            <th colspan="3">Opciones</th>
		        </tr>
		        <tr th:each="usuario : ${allUsers}" th:id="${'tr:'+usuario.rut}">
		            <td th:text="${usuario.rut}"></td>
		            <td th:text="${usuario.nombre}"></td>
		            <td th:text="${usuario.apellido}"></td>
		            <td th:text="${usuario.correo}"></td>
		            <td th:text="${usuario.sede.get.get.toObject(claseSede).nombre}"></td>
					<td colspan="3">
						<button th:id="${'Usuario:'+usuario.rut}" onclick="extras(this.id)" type="button" class="btn btn-warning btnverExtras btnVerRyP">Ver Roles y Permisos</button>
						<button th:id="${'Usuario:'+usuario.rut}" type="button" class="btn btn-secondary btnVerEdit" onclick="edit(this.id)">Editar</button>
						<button th:id="${'Usuario:'+usuario.rut}" onclick="delet(this.id)" type="button" class="btn btn-danger btnVerDel">Borrar</button>
					</td>
		        </tr>
		    </table>
		</div>
		</div>
	</body>
</html>