<div th:fragment="modalEdicion" class="modal fade modalNotification" id="modalEdicion" tabindex="-1" aria-labelledby="modalEdicion" aria-hidden="true">
  <div class="modal-dialog dialogoModal">
    <div class="modal-content contenidoModal">
      <div class="modal-header cabezeraModal">
       	 <p id="labelRegistroEdicion">Aca va lo que se edita</p>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body cuerpoModalSmall">
			<p id="mensajeInternoModalEdicion"> Aca va el formulario dde edicion</p>
      </div>
		<div class="modal-footer piesModal">
		 <button type="button" class="btn btn-dark btnModalFoot" data-bs-dismiss="modal" aria-label="Close">Ok</button>
      </div>
    </div>
  </div>
</div>